<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="connectionString" value="Data Source=192.168.200.200\SQLEXPRESS;Initial Catalog=ahrsqldemo;User ID=sa;Password=Prova123;MultipleActiveResultSets=true" />
        <add key="schema_glamour" value="ahrsqldemo" />
        <add key="azienda" value="PIERO" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>